*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: url(https://source.unsplash.com/1600x900/?landscape);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}
.container{
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
}
.buttons{
    margin-top: 30px 0px;
    display: flex;
    gap: 40px;  
}
button{
  padding: 10px;
  font-size: 50px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: opacity 0.4s ease-in-out;
  margin-bottom: 30px;
}
#rock{
  background-color: #a200ff;
}
#paper{
    background-color: #9ee01a;
}
#scissors{
    background-color: #7dbeed;
}
button:hover{
    opacity: 0.7;
}
button:active{
opacity: 0.4;
}

p{
    font-weight: bold;
    
    
}
.yourScore span{
    color: rgb(25, 95, 187);
}
.machine-Score span{
  color: crimson;
}
h1{
    margin-bottom: 30px;
}